body,h1,h2,h3,h4,h5,h6,p{ font-family: 'Lato', sans-serif !important;}
.text-white{color:#fff}
.text-grey{color:#100f0f}
.text-black,.download-item{color:#606060;}
.bg-blu{ background-color:#1464f6;}
.bg-grey{ background-color: #d6d6d6;}
.mar-top10{ margin-top: 10px;}
.mar-bo15{margin-bottom:15px;}
.mar-tobo10{ margin: 10px 0px;}
.pad10{ padding: 10px;}

.flexslider,.flexslider .slides img {height: 270px;}
.flexslider{margin-bottom:20px !important;}
.flex-caption {
  width: 40%;
  height: 100%;
  padding: 2%;
  right: 0;
  top: 0;
  position: absolute;
  background:rgba(122,151,207,0.85);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,.3);
  font-size: 14px;
  line-height: 18px;
  font-family:'Lato',Lato,Segoe Ui;
}
.slides > li { position: relative;}
.flex-control-nav{display:none}
/*boxes with faicons*/
.my-fancy-container {
  display: inline-block;
  text-align: center;
}
.my-text {
  display: block;
  font-size:12px;
  margin-top: 5px;
}
.my-icon {
    vertical-align: middle;
    font-size: 25px !important;
}
.my-fancy-container .bg-blu {
  padding: 15px;
  min-height: 60px;
}
.hovereffect {
  /*position: relative;*/
  width:100%;
  height:100%;
  float:left;
  overflow:hidden;
  position:relative;
  cursor:default;
}
.hovereffect img{
  min-height: 200px;
  width: 100%;
  display: block;
  position: relative;
  -webkit-transition:all .4s linear;
  transition: all .4s linear;
}
.hovereffect:hover img {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }
.hovereffect:hover .overlay {
  opacity:1;
  filter:alpha(opacity=100);
  -ms-transform:translatey(0);
-webkit-transform:translatey(0);
transform:translatey(0);
  /*-webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);*/
}
.hovereffect .overlay {
    /*z-index: 1;*/
    background: rgba(35, 35, 35, 0.86);
    width:100%;
    position: absolute;
    overflow: hidden;
    bottom: 0;
    left: 0;
    opacity:0;
    -webkit-transition:all .4s ease-in-out;
    transition:all .4s ease-in-out
}
a.quick-btn {
  .color: #fff;}
.quick-btn {
  display: inline-block;
  height: 88px;
  margin: 4px -1.5px;
  padding-top: 16px;
  text-align: center;
  text-decoration: none;
  width: 103px;
  position: relative;
}
.quick-btn .fa{font-size:2.5em}
.quick-btn span {
  display: block;
  font-size: 12px;
}
.quick-btn:hover {
  text-decoration: none;
  color: #fff;
  background-color: #4d7589;
}
.download-item .fa {
    font-size: 30px;
    color: #ff5d55;
}
.download-item .col-md-6{
  padding-bottom: 10px;
}
/*.quick-btn .label {
  position: absolute;
  right: -5px;
  top: -5px;
}
.quick-btn.small {
  width: 40px;
  height: 30px;
  padding-top: 6px;
}*/
h4.head {
    font-size: 17px;
    background-color: #0844a4;
    margin: 10px 0;
    padding:10.5px;
    color:#fff;
}
.search-form {border-radius:  0px 30px 30px 0px;}
.search-btn{border-radius:30px 0px 0px 30px;}
/*SP specific*/
.ms-belltown-pageName,.ms-webpart-titleText,#pageContentTitle{display:none}
.ms-core-header .ms-srch-sb-border{border-radius:10px}
#titlerow,.ms-siteHeader{
  display:table-row!important;
  background: url("/Style Library/MPF/images/header bg.png");
  background-repeat:repeat;
}
.menu-item-text {
    font-size: 15px;
    text-transform: uppercase;
    color: white;
}
.contentwrapper {
    margin: 0px 2% 20px !important;
    background-color:white;
    min-height: 500px;
}
.btn {background-color: #d6d6d6;}
#ctl00_PlaceHolderMain_WikiField{margin-top: -20px;}
.ms-pub-contentLayout{
  min-width: inherit;
  padding: 0px;
  margin: 0px;
}
.ms-rtestate-field p, p.ms-rteElement-P{
	margin:0;
	line-height:1.4;
}
.ms-rte-layoutszone-inner {
    padding: 0px;
    margin-bottom: -100px;
}
#ms-belltown-table{
	padding-bottom:0px;
}
#pageTitle a {
    color: white;
}
.ms-siteicon-img{max-height: 90px;}
@media screen and (max-width: 1044px) {
    /* Hide unnecessary page elements */
     /* Global navigation "Edit Links" when managed navigation is in use */
.ms-core-listMenu-horizontalBox .ms-listMenu-editLink{display: none;}
/* Undo the crazy that SharePoint creates with table display set to DIVs*/
#titlerow .ms-table, #titlerow .ms-tableRow, #titlerow .ms-tableCell {
    display: block;
}
/* Site logo wrapper */
   #siteIcon {
       margin: 10px;
       float: none;  /* Remove OOTB float - this allows title row elements to return to typical block elements along with the table display changes above */
       text-align: left;  /* Alter OOTB alignment */
   }
   /* Top nav bar placement & formatting */
.ms-core-navigation {
  display: block;  /* Force respect of some declarations */
  margin-top: 10px;  /* Create space between the site logo/title and nav bar */
 }
/* Page title text */
 #pageTitle {
       position: absolute;  /* Remove from content flow and create precise placement based on parent container */
       top: 30px;  /* Position from top */
       left: 240px;   /* Positioning from left */
}
#searchInputBox {
float: none;  /* Remove OOTB float - this allows the search to move to the left under the top nav bar */
}
.ms-belltown-authenticated .ms-belltown-searcharea{
  padding-top: 40px; /* Reduce padding above search*/
}

}
