<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
<link href="https://cdnjs.cloudflare.com/ajax/libs/flexslider/2.1/flexslider-min.css" rel="stylesheet"/>
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
<!-- <link href="/Style Library/MPF/css/SP-Responsive-UI.css" rel="stylesheet"> -->
<div class="container-fluid">

  <!-- Heading Row -->
  <div class="row text-white">
    <div class="col-md-8 col-lg-8">
        <div class="flexslider">
          <ul class="slides">
            <li>
              <img src="/Style Library/MPF/images/p1.jpg" />
              <p class="flex-caption">Sample</p>
            </li>
            <li>
              <img src="/Style Library/MPF/images/p2.jpg" />
              <p class="flex-caption">Sample1</p>
            </li>
            <li>
              <img src="/Style Library/MPF/images/p1.jpg" />
              <p class="flex-caption">Sample2</p>
            </li>
            <li>
              <img src="/Style Library/MPF/images/p2.jpg" />
              <p class="flex-caption">Sample3</p>
            </li>
          </ul>
        </div>
    <div class="row" style="background-color:#c238eb;margin:0px">
        <div class="col-md-2 pad10 text-center" style="background-color:#7e2199"><span class="h4">ALERT</span></div>
        <div class="col-md-10" style="background-color:#c238eb;padding:7px">CRM System updates ongoing
          <button class="text-grey pull-right" style=" padding: 2px 37px; font-size: 12px;">See More</button>
        </div>
    </div>
      <div class="row mar-top10">
        <div class="col-md-4">
          <div class="hovereffect">
              <img src="/Style Library/MPF/images/HelpDesk.jpg" class="align-center img-responsive">
              <div class="overlay">
                  <div class="col-sm-12">
                      <p> IT Helpdesk</p>
                  </div>
              </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="hovereffect">
              <img src="/Style Library/MPF/images/Directory.jpg" class="align-center img-responsive">
              <div class="overlay">
                  <div class="col-sm-12">
                      <p> Staff Directory</p>
                  </div>
              </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="hovereffect">
              <img src="/Style Library/MPF/images/Gallery.jpg" class="align-center img-responsive">
              <div class="overlay">
                  <div class="col-sm-12">
                      <p>Gallery</p>
                  </div>
              </div>
          </div>
        </div>
      </div>
      <div class="row download-item">
        <div class="col-md-12">
          <h4 class="head" style="background-color: #0844a4;">Popular Documents</h4>
        </div>
        <div class="pad10">
          <div class="col-md-6"><i class="fa fa-file-pdf-o"></i> User Guides</div>
          <div class="col-md-6"><i class="fa fa-file-pdf-o"></i> Requisition Form</div>
          <div class="col-md-6"><i class="fa fa-file-pdf-o"></i> Company Policies</div>
          <div class="col-md-6"><i class="fa fa-file-pdf-o"></i> Mission Statement</div>
        </div>
      </div>
    </div>
    <!-- /.col-md-8 -->

    <div class="col-md-4 col-lg-4">
      <span class="text-black mar-tobo10">My Tools</span>
        <div class="panel-body" style="background-color:#d6d6d6">
          <a href="https://outlook.office365.com/owa/" class="text-white">
          <div class="col-md-4 my-fancy-container">
            <div class="bg-blu">
              <span class='fa fa-envelope-o my-icon'></span>
              <span class="my-text">Outlook</span>
            </div>
          </div>
          </a>
          <a href="https://outlook.office.com/owa/?modurl=1" class="text-white">
          <div class="col-md-4 my-fancy-container">
            <div class="bg-blu">
              <span class='fa fa-calendar my-icon'></span>
              <span class="my-text">Calendar</span>
            </div>
          </div>
        </a>
        <a href="https://oshoche-my.sharepoint.com/_layouts/15/MySite.aspx?MySiteRedirect=AllDocuments" class="text-white">
          <div class="col-md-4 my-fancy-container">
            <div class="bg-blu">
              <span class='fa fa-cloud my-icon'></span>
              <span class="my-text">One Drive</span>
            </div>
          </div>
        </a>
          </div>

        <div class="row">
          <h4 class="head" >Upcoming Events</h4>
          <div class="col-md-12 mar-bo15">
            <div class="col-md-3 bg-blu pad10 text-center">
              <div class="row small">September</div>
              <div class="row">10</div>
            </div>
            <div class="col-md-9 bg-grey" style="padding:18px">
              <span class="text-black">AGM</h4>
              </div>
          </div>
          <div class="col-md-12 mar-bo15">
              <div class="col-md-3 bg-blu pad10 text-center">
                <div class="row small">September</div>
                <div class="row">10</div>
              </div>
              <div class="col-md-9 bg-grey" style="padding:18px">
                <span class="text-black">Public Holiday</h4>
                </div>
          </div>

            <div class="row">
              <div class="col-md-12">
                <a class="quick-btn" style="background-color:#ff8a84;" href="#">
                <i class="fa fa-check fa-2x"></i>
                <span>Expense Claim</span>
                <!-- <span class="label label-default">2</span> -->
              </a>
              <a class="quick-btn" style="background-color:#75a9f9;" href="#">
              <i class="fa fa-pencil fa-2x"></i>
              <span>Stationery Request</span>
            </a>
            <a class="quick-btn" style="background-color:#1464f6;" href="#">
            <i class="fa fa-cloud fa-2x"></i>
            <span>CAPEX</span>
            </a>
            <a class="quick-btn" style="background-color:#c8adc0;" href="#">
            <i class="fa fa-calendar fa-2x"></i>
            <span>Leave Request</span>
            </a>
              </div>
            <div class="col-md-12">
            <a class="quick-btn" style="background-color:#1464f6;" href="#">
            <i class="fa fa-money fa-2x"></i>
            <span>Salary Advance</span>
            </a>
            <a class="quick-btn" style="background-color:#c8adc0;" href="#">
            <i class="fa fa-book fa-2x"></i>
            <span>Training</span>
            <!-- <span style="color:transparent"></span> -->
            </a>
            <a class="quick-btn" style="background-color:#75a9f9;" href="#">
            <i class="fa fa-lightbulb-o fa-2x"></i>
            <span> FAQs </span>
            </a>
            <a class="quick-btn" style="background-color:#92d36e;" href="#">
            <i class="fa fa-bolt fa-2x"></i>
            <span>Quick References</span>
            </a>
            </div>
            </div>


            <div class="row text-black">
              <div class="col-md-12">
                <h4 class="head">Extensions</h4>
              </div>
              <div class="col-md-12" style="margin-left:20px">
              <div class="form-inline" role="form" method="" action="">
                <div class="input-group">
                  <span class="input-group-btn">
                    <button type="submit" class="btn search-btn" data-target="#search-form" name="q">
                      <i class="fa fa-search"></i>
                    </button>
                  </span>
              <input type="text" class="form-control search-form" placeholder="Search...">
            </div>
          </div>
              <p>
                <address>
                  Head Office<br>
                  0732 167000,020 391 2000 | Fax<br>
                  (+254) 0711 045600, 020 3912600<br>
                  Email:oshochem@oshochem.com
                </address>
              </p>
              </div>
            </div>
          </div>
          <!-- /.col-md-4 -->
        </div>
        <!-- /.row -->



      </div>
      <!-- jQuery -->
      <!-- <script src="/Style Library/MPF/js/SP-Responsive-UI.js"></script> -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <script defer src="https://cdnjs.cloudflare.com/ajax/libs/flexslider/2.1/jquery.flexslider.js"></script>
      <!-- /.container -->
      <script type="text/javascript">
      $(document).ready(function() {
        $('.flexslider').flexslider({
          animation: "slide",
          itemWidth:200,
          maxItems:1
        });
      });</script>
